nav {
    width: 100%;
    height: 124px;
    background-color: var(--main-color);
}
nav ul li > img{
    width: 102px;
    height: 102px;
}
nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li > p {
    color: var(--font-colors);
    font-size: 46px;
    font-weight: 700;
}
.search-bar{
    background-color: var(--input-colors);
    width: 650px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-inline: 10px;
    align-items: center;
}
.search-bar div > input[type = 'text']{
    font-size: 30px;
    font-weight: 700 ;
    caret-color: var(--font-colors);
    width: 590px;
    background-color: inherit;
    color: var(--font-colors);
    border: none;
    padding-inline: 10px;
}
.search-bar div > input[type = 'text']:focus{
    border: none;
    outline: none;
}
.search-bar div > input[type = 'text']::placeholder{
    color: var(--placeholder-color);
}

.search-bar > img{
    width: 43px;
    height: 43px;
}

@media (max-width: 700px) {
    nav {
        height: 289px;
    }
    nav ul li > img{
        width: 90px;
        height: 90px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 100%;
    }

    nav ul li > p {
        font-size: 24px;
    }
    .search-bar{
        width: 373px;
        height: 83px;
        padding-inline: 5px;
    }
    .search-bar div > input[type = 'text']{
        font-size: 23px;
        width: 300px;
        padding-inline: 10px;
    }


}