:root{
    --font-colors: #f8f8f8;
    --main-color: #1A2151;
    --card-title-background-color: rgba(248, 248, 248, 0.37);
    --main-background-color: #121212;
    --placeholder-color: rgba(248, 248, 248, 0.5);
    --input-colors: rgb(49, 56, 99);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-background-color)
}

.img-fit{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}